# For the python stuff
venv/
.idea/

# vim swap files
*.swp

# our default example program name
example

# We actually want to ignore any *.cpp and *.hpp files, we generate those
# but we use .j2 templates in the repos.
*.cpp
*.hpp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
