#ifndef __{{class_spec.cpp_name | upper}}_H__
#define __{{class_spec.cpp_name | upper}}_H__

#include <iostream>
#include <string>

class {{class_spec.cpp_name}} {
public:
    {{class_spec.cpp_name}}();
    ~{{class_spec.cpp_name}}();

    {% for prop in class_spec.properties %}{{ "%-16s " | format(prop.cpp_type)}} {{prop.name}};
    {% endfor %}

    bool loadFromLuaScript(lua_State *L, std::string *luaPath);

private:
    // Private members go here
};

#endif  /* End __{{class_spec.cpp_name | upper}}_H__ */
