#include <iostream>
#include <string>

extern "C" {
    #include <lauxlib.h>
    #include <lua.h>
    #include <lualib.h>
}

#include "{{class_spec.cpp_name}}.h"

{{class_spec.cpp_name}}::{{class_spec.cpp_name}}() {}
{{class_spec.cpp_name}}::~{{class_spec.cpp_name}}() {}

extern "C" {
    #include <lauxlib.h>
    #include <lua.h>
    #include <lualib.h>
}

